@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #715, #7d5fff);
  font-family: "Young serif";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
body.act {
  background-image: linear-gradient(90deg, #7d5fff, #715);
}

.search {
  position: relative;
  height: 50px;
}

.search .input {
  background-color: #fff;
  font-size: 18px;
  border: 0;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.4s ease;
}

.btn {
  height: 50px;
  width: 50px;
  font-size: 24px;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.4s ease;
}

.btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
  border-radius: 50px;
  width: 200px;
}

.search.active .btn {
  margin-left: 10px;
  border-radius: 50px;
  transform: translateX(198px);
}
